* {
    box-sizing: border-box;
}

main {
    text-align: center;
}

.passwordForm {
    width: 80%;
    margin: 0 auto;
}

.passwordFormInputBox {
    background-color: grey;
    border: 1px solid;
}